$a: dodgerblue;
$b: deeppink;
$lineWidth: 2;

@import url(http://fonts.googleapis.com/css?family=Montserrat);

* {
	box-sizing: border-box;
}
body {
	font-family: Montserrat;
	min-width: 1280px;
	text-align: center;
}
.row {
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	font-size: 64px;
	margin: 0;
	margin-top: 64px;
}
h2 {
	margin: 0;
	margin-bottom: 48px;
}

p {
	text-align: justify;
	width: 960px;
}

td {
	padding: 10px;
	padding-right: 0;
	text-align: right;
	height: 24px;
	input {
		position: relative;
		font-size: 16px;
		outline: none;
		border: none;
		font-family: inherit;
		text-align: center;
		width: 56px;
		line-height: 180%;
		border-radius: 4px;
		transition: transform 0.2s;
		&.a {
			background: transparentize($a, 0.6);
		}
		&.b {
			background: transparentize($b, 0.6);
		}
		&:focus {
			transform: scale(1.1);
		}
	}
}

.se-row {
	display: none;
}

.switch {
	padding: 10px;
	text-align: right;
	input {
		margin-left: 16px;
		height: 16px;
		width: 16px;
		transform: translateY(2px);
	}
}

#main {
	margin-left: -64px;
	margin-right: -64px;
	.line.a {
		stroke-width: $lineWidth;
		fill: transparentize($a, 0.5);
	}
	.line.b {
		stroke-width: $lineWidth;
		fill: transparentize($b, 0.5);
	}
}

#d {
	line-height: 200%;
	text-align: left;
	width: 192px;
	padding-left: 16px;
}

#a {
	.line {
		stroke-width: $lineWidth;
		fill: url(/#aGradient);
	}
}
#b {
	.line{
		stroke-width: $lineWidth;
		fill: url(/#bGradient);
	}
}
.axis.x line {
	stroke: black;
	stroke-width: 2px;
}
.axis.x path {
	stroke: black;
	fill: none;
	stroke-width: 2px;
}
.axis.x text {
	transform: translateY(8px);
}

.label, .percent {
	width: 480px;
}

.label {
	margin-top: 32px;
	margin-bottom: -32px;
}
.percent {
	padding-left: 64px;
	padding-right: 64px;
	margin-top: -16px;
	margin-bottom: 64px;
}

.fine-print {
	font-size: 14px;
}

#stats {
	font-size: 18px;
}

a {
	color: rgb(147, 146, 226);
}

#csv {
	display: inline-block;
	cursor: pointer;
	transition: transform 0.2s;
	text-decoration: underline;
	&:hover {
		transform: scale(1.1);
	}
	&:active {
		transform: scale(0.95);
	}
}

footer {
	opacity: 0.5;
	margin: 64px;
	a {
		opacity: 0.8;
		color: inherit
	}
}
