@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* line 9, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../scss/style.scss */
body {
  font-family: Montserrat;
  min-width: 1280px;
  text-align: center;
}

/* line 17, ../scss/style.scss */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 22, ../scss/style.scss */
h1 {
  font-size: 64px;
  margin: 0;
  margin-top: 64px;
}

/* line 27, ../scss/style.scss */
h2 {
  margin: 0;
  margin-bottom: 48px;
}

/* line 32, ../scss/style.scss */
p {
  text-align: justify;
  width: 960px;
}

/* line 37, ../scss/style.scss */
td {
  padding: 10px;
  padding-right: 0;
  text-align: right;
  height: 24px;
}
/* line 42, ../scss/style.scss */
td input {
  position: relative;
  font-size: 16px;
  outline: none;
  border: none;
  font-family: inherit;
  text-align: center;
  width: 56px;
  line-height: 180%;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
/* line 53, ../scss/style.scss */
td input.a {
  background: rgba(30, 144, 255, 0.4);
}
/* line 56, ../scss/style.scss */
td input.b {
  background: rgba(255, 20, 147, 0.4);
}
/* line 59, ../scss/style.scss */
td input:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/* line 65, ../scss/style.scss */
.se-row {
  display: none;
}

/* line 69, ../scss/style.scss */
.switch {
  padding: 10px;
  text-align: right;
}
/* line 72, ../scss/style.scss */
.switch input {
  margin-left: 16px;
  height: 16px;
  width: 16px;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

/* line 80, ../scss/style.scss */
#main {
  margin-left: -64px;
  margin-right: -64px;
}
/* line 83, ../scss/style.scss */
#main .line.a {
  stroke-width: 2;
  fill: rgba(30, 144, 255, 0.5);
}
/* line 87, ../scss/style.scss */
#main .line.b {
  stroke-width: 2;
  fill: rgba(255, 20, 147, 0.5);
}

/* line 93, ../scss/style.scss */
#d {
  line-height: 200%;
  text-align: left;
  width: 192px;
  padding-left: 16px;
}

/* line 101, ../scss/style.scss */
#a .line {
  stroke-width: 2;
  fill: url("#aGradient");
}

/* line 107, ../scss/style.scss */
#b .line {
  stroke-width: 2;
  fill: url(#bGradient);
}

/* line 112, ../scss/style.scss */
.axis.x line {
  stroke: black;
  stroke-width: 2px;
}

/* line 116, ../scss/style.scss */
.axis.x path {
  stroke: black;
  fill: none;
  stroke-width: 2px;
}

/* line 121, ../scss/style.scss */
.axis.x text {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}

/* line 125, ../scss/style.scss */
.label, .percent {
  width: 480px;
}

/* line 129, ../scss/style.scss */
.label {
  margin-top: 32px;
  margin-bottom: -32px;
}

/* line 133, ../scss/style.scss */
.percent {
  padding-left: 64px;
  padding-right: 64px;
  margin-top: -16px;
  margin-bottom: 64px;
}

/* line 140, ../scss/style.scss */
.fine-print {
  font-size: 14px;
  margin: 0;
}

/* line 145, ../scss/style.scss */
#stats {
  font-size: 18px;
}

/* line 149, ../scss/style.scss */
#csv {
  display: inline-block;
  cursor: pointer;
  color: #9392e2;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
  text-decoration: underline;
}
/* line 155, ../scss/style.scss */
#csv:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
/* line 158, ../scss/style.scss */
#csv:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

/* line 163, ../scss/style.scss */
footer {
  opacity: 0.5;
  margin: 64px;
}
/* line 166, ../scss/style.scss */
footer a {
  opacity: 0.8;
  color: inherit;
}
