@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* line 9, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../scss/style.scss */
body {
  font-family: Montserrat;
  min-width: 1280px;
  text-align: center;
}

/* line 17, ../scss/style.scss */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 22, ../scss/style.scss */
h1 {
  font-size: 64px;
  margin: 0;
  margin-top: 64px;
}

/* line 27, ../scss/style.scss */
h2 {
  margin: 0;
  margin-bottom: 48px;
}

/* line 32, ../scss/style.scss */
p {
  text-align: justify;
  width: 960px;
}

/* line 37, ../scss/style.scss */
td {
  padding: 16px;
  padding-left: 0;
  text-align: right;
}
/* line 41, ../scss/style.scss */
td input {
  position: relative;
  font-size: 16px;
  outline: none;
  border: none;
  font-family: inherit;
  text-align: center;
  width: 64px;
  height: 28px;
  border-radius: 4px;
}
/* line 51, ../scss/style.scss */
td input.a {
  background: rgba(70, 130, 180, 0.25);
}
/* line 54, ../scss/style.scss */
td input.b {
  background: rgba(199, 21, 133, 0.25);
}

/* line 60, ../scss/style.scss */
.se-row {
  display: none;
}

/* line 64, ../scss/style.scss */
.switch {
  padding: 16px;
  text-align: right;
}
/* line 67, ../scss/style.scss */
.switch input {
  margin-left: 16px;
  height: 16px;
  width: 16px;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

/* line 75, ../scss/style.scss */
#main {
  margin-left: -64px;
  margin-right: -64px;
}
/* line 78, ../scss/style.scss */
#main .line.a {
  stroke: steelblue;
  stroke-width: 2;
  fill: rgba(70, 130, 180, 0.5);
}
/* line 83, ../scss/style.scss */
#main .line.b {
  stroke: mediumvioletred;
  stroke-width: 2;
  fill: rgba(199, 21, 133, 0.5);
}

/* line 90, ../scss/style.scss */
#d {
  line-height: 200%;
  text-align: left;
  width: 192px;
  padding-left: 16px;
}

/* line 98, ../scss/style.scss */
#a .line {
  stroke: steelblue;
  stroke-width: 2;
  fill: url("#aGradient");
}

/* line 105, ../scss/style.scss */
#b .line {
  stroke: mediumvioletred;
  stroke-width: 2;
  fill: url(#bGradient);
}

/* line 111, ../scss/style.scss */
.axis.x line {
  stroke: black;
  stroke-width: 2px;
}

/* line 115, ../scss/style.scss */
.axis.x path {
  stroke: black;
  fill: none;
  stroke-width: 2px;
}

/* line 120, ../scss/style.scss */
.axis.x text {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}

/* line 124, ../scss/style.scss */
.label {
  width: 480px;
  padding-left: 64px;
  padding-right: 64px;
  margin-bottom: 64px;
}

/* line 131, ../scss/style.scss */
.fine-print {
  margin: 0;
}

/* line 135, ../scss/style.scss */
footer {
  opacity: 0.5;
  margin: 64px;
}
